[submodule "engine/ThirdParty/tinygltf"]
	path = engine/ThirdParty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "engine/ThirdParty/SFML"]
	path = engine/ThirdParty/SFML
	url = https://github.com/SFML/SFML.git
[submodule "engine/ThirdParty/rapidjson"]
	path = engine/ThirdParty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "engine/ThirdParty/lua"]
	path = engine/ThirdParty/lua
	url = https://github.com/lua/lua
[submodule "engine/ThirdParty/sol2"]
	path = engine/ThirdParty/sol2
	url = https://github.com/ThePhD/sol2
[submodule "engine/ThirdParty/nfd"]
	path = engine/ThirdParty/nfd
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "engine/ThirdParty/JoltPhysics"]
	path = engine/ThirdParty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "engine/ThirdParty/tracy"]
	path = engine/ThirdParty/tracy
	url = https://github.com/wolfpld/tracy.git
